.editEvent {
    margin-bottom: 100px;
}

.formContainer {
    font-family: 'Century Gothic', serif;
    justify-content: center;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    color: #14424b;
    border-color: #bfd0b0;
    box-shadow: 0px 0px 7px 0.01px #4b7483, inset 0 0 20px 1px #ccd7c0;
    padding: 20px;
    margin-block: 20px;
    background-color: #d7dfd0;
}
  
.eventFormContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 17px;
  text-align: left;
}

.eventFormContainer > input:nth-child(7), :nth-child(8) {
    cursor: pointer;
}

input:focus {
    cursor: text;
    outline: none;
}

button:hover {
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0px 0px 10px 0.05px rgb(88, 64, 61);
}

.error {
    color: red;
    margin-block: -10px 0px;
}

.formInput {
    width: 300px;
    background-color: white;
    box-shadow: 0px 0px 7px 0.01px rgb(156, 156, 156); 
}
  
.mainContainer {
    margin-inline: auto;
    max-width: 49.8vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.backButton {
    width: 40px;
}

.formError {
    color: red;
}