.formInput {
    width: 160px;
    color: #424242;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 0px 7px 0.01px rgb(156, 156, 156); 
}

.formInput:focus {
    border-style: solid;
    border-color: black;
    border-width: 2px;
}

.createPlan {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
}

.createPlanInputs {
    text-align: center;
    align-items: center;
    display: flex;
    margin-top: 1em;
    gap: 1.5em;
}

.formError {
    margin-inline: auto;
    color: #652F2F;
    font-weight: 600;
}

.addButton {
    width: 100px;
    background-color: rgb(172, 227, 172);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding: 0;
}

.widthFix {
    width: 120px;
}

.error {
    border-style: solid;
    border-color: #652F2F;
    border-width: 2px;
}