html {
  overflow-y: scroll;
  margin-bottom: 50px;;
}

body {
  margin-top: 112px;
  background-color: #197694;
}

button:focus {
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
